* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: peru;
  color: white;
}

#shop-container {
  width: 60%;  
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  
}

#game-container {
  background-color: brown;
}

#cookie-image {
  width: 30%;

  border-radius: 15px;
}

#cookie-count {
  font-size: 1.5rem;
}

#cookie-per-sec {
  font-size: 1.5rem;
}

#cookie-image:hover {
  cursor: pointer;
}

#shop-container button {
  font-size: 15px;
}

#shop-container button:hover{
    cursor: pointer;
    background-color: rgba(243, 215, 179, 0.952);

}

#game-n-count {
  margin: auto;
  padding-bottom: 25px;
}

#reset {
    font-size: 25px;
    border-radius: 15px;
    margin-top: 30px;
    padding: 10px;
    color: white;
    background-color: black;
}

#reset:hover{
    cursor: pointer;
    color: rgb(246, 211, 211);

}

.counts {
    font-size: 1.5rem;
}

